.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  .low-stock {
    background-color: #ffcccc; /* Light red background */
    color: #d80000; /* Dark red text */
    font-weight: bold;
  }